footer{
    padding: 80px 0 0;
    background-color: #030918;
    .main{
        gap: 30px;
        padding: 0 0 70px;
        .row{
            gap: 30px;
            p{
                color: rgba(255, 255, 255, 0.5);
                line-height: 1.8;
            }
            a{
                color: rgba(255, 255, 255, 0.5);
            }
            .heading{
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 40px;
                letter-spacing: 2px;
                margin: 0 0 40px;
            }
            .about{
                p{
                    margin-bottom: 0 0 16px;
                }
                .media{
                    margin: 24px 0 0 ;
                    gap: 15px;
                    li{
                        a{
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            background: #ffffff14;
                            transition: $hover;
                            &:hover{
                                background-color: $orange;
                            }
                            i{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .links{
                div{
                    .left{
                        margin: 0 24px 0 0;
                    }
                    .right{
                        margin: 0 0 0 48px;
                    }
                    ul{
                        li{
                            &:hover{
                                p{
                                    color: $orange;
                                }
                            }
                            margin: 0 0 10px;
                            p{
                                display: inline;
                                padding: 0 0 0 5px;
                                transition: $hover;
                            }
                        }
                    }
                }
            }
            .services{
                ul{
                    li{
                        &:hover{
                            p{
                                color: $orange;
                            }
                        }
                        margin: 0 0 10px;
                        p{
                            display: inline;
                            padding: 0 0 0 5px;
                            transition: $hover;
                        }
                    }
                }
            }
            .question{
                ul{
                    li{
                        display: flex;
                        margin: 0 0 10px;
                        i{
                            color: rgba(255, 255, 255, 0.5);
                            line-height: 1.8;
                        }
                        p{
                            padding: 0 0 0 15px;
                        }
                    }
                }
            }
        }
    }
    .bottom{
        position: relative;
        height: 100%;
        .row{
            position: relative;
            height: 100px;
            width: 50%;
            background-color: $orange;
            &::before{
                position: absolute;
                bottom: 0;
                right: -99.5px;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width:  100px 100px 0 0;
                transform: rotate(-90deg);
                border-color: #fc5e28 transparent transparent transparent;
            }
        }
        .container{
            z-index: 1;
            width: 1140px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50% , -50%);
            .text{
                width: 50%;
                p{
                    color: #ffffffb3;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    footer{
        .container{
            max-width: 960px;
            .services{
                width: 50%;
                a{
                    white-space: nowrap;
                }
            }
            .question{
                width: 50%;
            }
        }
    }
    footer{
        .bottom{
            .container{
                width: 960px;
            }
        }
    }
}
@media (max-width: 992px){
    footer{
        .container{
            max-width: 720px;
            .main{
                flex-direction: column;
                .row{
                    width: 100%;
                    .part{
                        width: 50%;
                    }
                }
            }
        }
    }
    footer{
        .bottom{
            .container{
                width: 720px;
            }
        }
    }
}
@media (max-width: 768px){
    footer{
        .container{
            max-width: 540px;
            .main{
                flex-direction: column;
                .row{
                    flex-direction: column;
                    .part{
                        width: 100%;
                    }
                }
            }
        }
    }
    footer{
        .bottom{
            margin: 0 auto;
            max-width: 540px;
            padding: 0 15px;
            .row{
                width: 100%;
                &::before{
                    display: none;
                }
            }
            .container{
                width: 100%;
                .text{
                    padding: 0 15px;
                    width: 100%;
                }
            }
        }
    }
}
