main{
    .hero-pages{
        background: url(../images/bg_2.jpg.webp);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        height: 600px;
        .overlay{
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            height: 100%;
            width: 100%;
            .container{
                z-index: 0;
                .main{
                    opacity: 1;
                    height: 600px;
                    display: flex;
                    align-items: flex-end;
                    .text{
                        padding: 0 0 48px;
                        p{
                            color: #ffffffcc;
                            margin: 0 0 20px;
                            a{
                                color: #ffffffcc;
                                padding: 0 5px 0 0 ;
                                transition: $hover;
                                &:hover{
                                    color: $orange;
                                }
                            }
                        }
                        h2{
                            color: #fff;
                            font-size: 50px;
                            margin: 0 0 16px;
                        }
                    }
                }
            }
        }
    }
    .blog{
        padding: 120px 0;
        .row{
            .image{
                position: relative;
                background-image: url(../images/about.webp);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                .before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-style: solid;
                    border-width: 120px 120px 0 0;
                    border-color: #fc5e28 transparent transparent transparent;
                }
                .crane-icon{
                    position: absolute;
                    top: 50%;
                    transform: translateY( -50% );
                    right: -45px;
                    height: 120px;
                    width: 90px;
                    background-color: $orange;
                    img{
                        height: 50px;
                        width: 50px;
                    }
                }
            }
            .text{
                padding: 72px 0 72px 60px;
                .subheading{
                    font-size: 12px;
                    display: block;
                    margin: 0 0 5px;
                    color: $orange;
                    letter-spacing: 2px;
                    font-weight: 600;
                }
                h2{
                    line-height: 1.2;
                    font-size: 40px;
                    font-weight: 700;
                    margin: 0 0 24px;
                }
                .icon{
                    align-items: center;
                    margin: 0 0 20px;
                    span{
                        img{
                            height: 50px;
                            width: 50px;
                        }
                    }
                    h3{
                        padding: 0 0 0 15px;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 1.5;
                    }
                }
                p{
                    margin: 0 0 16px;
                    line-height: 1.8;
                    font-size: 17px;
                    color: $p-gray;
                }
                .video-img{
                    align-items: center;
                    margin: 8px 0 0;
                    img{
                        height: 100px;
                    }
                    h4{
                        padding: 0 0 8px 24px;
                        line-height: 1.5;
                        font-weight: 400;
                        color: rgba(0, 0, 0, 0.9);
                    }
                }
            }
        }
    }
}
main{
    .intro{
        .image{
            padding: 51px;
            background: url(../images/bg_2.jpg.webp);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            text-align: center;
            position: relative;
            z-index: 0;
            .overlay{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                opacity: .8;
                background: #040e26;
                z-index: -1;
            }
            h2{
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.5;
                margin: 0 0 8px;
            }
            p{
                color: $p-light;
                font-size: 17px;
                line-height: 1.8;
                margin: 0 0 16px;
            }
            a{
                display: inline-block;
                padding: 16px 24px;
                background-color: $orange;
                color: #fff;
                border-radius: 5px;
                font-size: 14px;
                line-height: 1.5;
                font-weight: 600;
                border: 1px solid #fc5e28;
                transition: $hover;
                &:hover{
                    background-color: transparent;
                }
            }
        }
    }
}
main{
    .counter{
        position: relative;
        height: 100%;
        .bg{
            z-index: -1;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            .bg-left{
                background-color: $dark;
                height: 100%;
            }
            .bg-right{
                background-image: url(../images/about-3.jpg.webp);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        .container{
            .row{
                .left{
                    padding: 96px 48px 96px 0;
                    span{
                        font-size: 12px;
                        display: block;
                        margin: 0 0 5px;
                        color: $orange;
                        letter-spacing: 2px;
                        font-weight: 600;
                        line-height: 1.8;
                    }
                    h2{
                        line-height: 1.2;
                        font-size: 40px;
                        font-weight: 700;
                        margin: 0 0 24px;
                        color: #fff;
                    }
                    h4{
                        color: $orange;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 1.5;
                        margin: 0 0 8px;
                    }
                    p{
                        font-size: 17px;
                        line-height: 1.8;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
                .right{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 10px;
                    .block{
                        width: 333px;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 20px;
                        .icon{
                            height: 100px;
                            width: 70px;
                            img{
                                height: 50px;
                                width: 50px;
                            }
                        }
                    }
                    .one{
                        background-color: $orange;
                        div{
                            .top{
                                font-weight: 700;
                                font-size: 30px;
                                color: #fff;
                                line-height: 1.8;
                                display: block;
                            }
                            .bottom{
                                color: rgba(255, 255, 255, 0.8);
                                display: block;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 1.8;
                                letter-spacing: 1px;
                            }
                        }
                    }
                    .two{
                        background-color: #fff;
                        div{
                            .top{
                                font-weight: 700;
                                font-size: 30px;
                                color: #000;
                                line-height: 1.8;
                                display: block;
                            }
                            .bottom{
                                color: rgba(0, 0, 0, 0.5);
                                display: block;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 1.8;
                                letter-spacing: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
main{
    .our-team{
        padding: 120px 0;
        .container{
            .title{
                margin: 0 0 80px;
                text-align: center;
                span{
                    font-size: 12px;
                    margin: 0 0 5px;
                    color: $orange;
                    letter-spacing: 2px;
                    font-weight: 600;
                }
                h2{
                    line-height: 1.2;
                    font-size: 40px;
                    font-weight: 700;
                    margin: 0 0 24px;
                }
            }
            .main{
                gap: 30px;
                .row{
                    gap: 30px;
                    .card{
                        .flip-card{
                            margin: 0 0 30px;
                            background: transparent;
                            width: 100%;
                            height: 400px;
                            perspective: 1000px;
                            &:hover{
                                .flip-card-inner{
                                    transform: rotateY(180deg);
                                }
                            }
                            .flip-card-inner{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                transition: transform 0.3s;
                                transform-style: preserve-3d;
                                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                                .flip-card-front, .flip-card-back {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    backface-visibility: hidden;
                                }
                                .flip-card-front{
                                    background: #90ee90;
                                    position: relative;
                                    &::before{
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        bottom: 0;
                                        left: 0;
                                        opacity: .7;
                                        background: 
                                        linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,
                                        rgba(255, 255, 255, 0.15) 38%, 
                                        rgba(0, 0, 0, 0.4) 100%);
                                    }
                                    .box{
                                        position: absolute;
                                        left: 20px;
                                        bottom: 20px;
                                        right: 20px;
                                        h2{
                                            font-size: 20px;
                                            font-weight: 600;
                                            color: #fff;
                                            line-height: 1.5;
                                        }
                                        p{
                                            font-size: 12px;
                                            line-height: 1.5;
                                            color: #fff;
                                        }
                                    }
                                }
                                .flip-card-back{
                                    position: relative;
                                    padding: 30px 20px 20px 20px;
                                    background-color: $orange;
                                    transform: translateY(-400px) rotateY(180deg);
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    p{
                                        text-align: center;
                                        line-height: 1.8;
                                        color: #fff;
                                    }
                                    .box{
                                        align-items: center;
                                        gap: 20px;
                                        .image{
                                            width: 40px;
                                            height: 40px;
                                            background: url(../images/team-1.jpg.webp);
                                            background-position: center center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            border-radius: 5px;
                                        }
                                        .text{
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-start;
                                            h2{
                                                font-size: 20px;
                                                font-weight: 600;
                                                color: #fff;
                                                line-height: 1.5;
                                            }
                                            p{
                                                font-size: 12px;
                                                line-height: 1.5;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .card-back{
                            height: 400px;
                            padding: 30px 20px 20px 20px;
                            background-color: $orange;
                            display: none;
                            flex-direction: column;
                            justify-content: space-between;
                            p{
                                text-align: center;
                                line-height: 1.8;
                                color: #fff;
                            }
                            .box{
                                align-items: center;
                                gap: 20px;
                                .image{
                                    width: 40px;
                                    height: 40px;
                                    background: url(../images/team-1.jpg.webp);
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    border-radius: 5px;
                                }
                                .text{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    h2{
                                        font-size: 20px;
                                        font-weight: 600;
                                        color: #fff;
                                        line-height: 1.5;
                                    }
                                    p{
                                        font-size: 12px;
                                        line-height: 1.5;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
main{
    .testimonials{
        position: relative;
        height: 100%;
        .bg{
            z-index: -1;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            .bg-left{
                background-color: $orange;
                height: 100%;
            }
            .bg-right{
                background-color: $dark;
                height: 100%;
            }
        }
        .container{ 
            .row{
                .left{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 48px 48px 48px 0;
                    span{
                        font-size: 12px;
                        display: block;
                        margin: 0 0 5px;
                        color: #fff;
                        letter-spacing: 2px;
                        font-weight: 600;
                        line-height: 1.8;
                    }
                    h2{
                        font-size: 50px;
                        font-weight: 700;
                        color: #fff;
                        margin: 0 0 24px;
                    }
                }
                .right{
                    padding: 48px 15px 48px 48px;
                    .testimony{
                        padding: 24px 0 48px;
                        gap: 20px;
                        .user{
                            height: 80px;
                            min-width: 80px;
                            background: url(../images/person_2.jpg.webp);
                            background-size: cover;
                            background-position: center center;
                            background-repeat: no-repeat;
                            border-radius: 50%;
                            position: relative;
                            align-self: flex-end;
                            .icon{
                                height: 30px;
                                width: 30px;
                                background-color: $orange;
                                border-radius: 50%;
                                position: absolute;
                                bottom: -10px;
                                right: 0;
                                i{
                                    color: #fff;
                                }
                            }
                        }
                        .text{
                            p{
                                margin: 0 0 24px;
                                font-size: 17px;
                                line-height: 1.8;
                                color: rgba(255, 255, 255, 0.8)
                            }
                            h5{
                                font-weight: 500;
                                font-size: 17px;
                                color: #fff;
                                line-height: 1.8;
                            }
                            span{
                                display: block;
                                color: $orange;
                                font-size: 12px;
                                letter-spacing: 1px;
                                font-weight: 500;
                                line-height: 1.8;
                            }
                        }
                    }
                    .dots{
                        padding: 15px 0 15px 10px;
                        gap: 10px;
                        span{
                            display: block;
                            height: 14px;
                            width: 14px;
                            border: 1px solid transparent;
                            border-radius: 50%;
                            outline: 3px solid rgba(255, 255, 255, 0.3);
                            background: rgba(255, 255, 255, 0.3);
                            &:hover{
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media ( max-width: 1200px ){
    .hero-pages{
        .container{
            max-width: 960px;
        }
    }
    .blog{
        .container{
            max-width: 960px;
        }
    }
    .intro{
        .container{
            max-width: 960px;
        }
    }
    .counter{
        .container{
            max-width: 960px;
        }
    }
    .our-team{
        .container{
            max-width: 960px;
        }
    }
    .testimonials{
        .container{
            max-width: 960px;
        }
    }
}
@media ( max-width: 992px ){
    .hero-pages{
        .container{
            max-width: 720px;
        }
    }
    .blog{
        .container{
            max-width: 720px;
            .row{
                .image{
                    height: 200px;
                    .crane-icon{
                        right: 0;
                    }
                }
                .text{
                    padding: 0 0 72px 60px;
                }
            }
        }
    }
    .intro{
        .container{
            max-width: 720px;
        }
    }
    .counter{
        .container{
            max-width: 720px;
        }
    }
    .our-team{
        .container{
            max-width: 720px;
            .main{
                margin: 0 0 30px;
                flex-direction: column;
                .row{
                    .card{
                        .flip-card{
                            display: none;
                        }
                        .card-back{
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
    .testimonials{
        .container{
            max-width: 720px;
        }
    }
}
@media ( max-width: 768px ){
    .hero-pages{
        .container{
            max-width: 540px;
        }
    }
    .blog{
        .container{
            max-width: 540px;
            .row{
                flex-direction: column;
                .image{
                    height: 200px;
                    width: 100%;
                    .crane-icon{
                        right: 0;
                    }
                }
                .text{
                    padding: 48px 0;
                    width: 100%;
                }
            }
        }
    }
    .intro{
        .container{
            max-width: 540px;
        }
    }
    .counter{
        .bg{
            .bg-left{
                display: none;
            }
            .bg-right{
                width: 100%;
            }
        }
        .container{
            max-width: 540px;
            .row{
                flex-direction: column;
                .left{
                    background-color: $dark;
                    padding: 72px 24px !important;
                    width: 100%;
                }
                .right{
                    width: 100%;
                    .block{
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .our-team{
        .container{
            max-width: 540px;
        }
    }
    .testimonials{
        .bg{
            flex-direction: column;
            .bg-left{
                display: none;
            }
            .bg-right{
                display: none;
            }
        }
        .container{
            max-width: 540px;
            .row{
                flex-direction: column;
                .left{
                    width: 100%;
                    background-color: $orange;
                    padding: 24px !important;
                }
                .right{
                    width: 100%;
                    background-color: $dark;
                    padding: 24px 15px !important;
                }
            }
        }
    }
}
@media (max-width: 575px){
    .our-team{
        .container{
            .main{
                .row{
                    flex-direction: column;
                }
            }
        }
    }
}