main{
    .hero{
        background-image: url(../../../assets/images/hero-bg.webp);
        background-position: top center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
            .overlay{
                min-height: 100%;
                width: 100%;
                background-color: rgba($color: $dark, $alpha: 0.5);
                .container{
                position: relative;
                .main{
                    align-items: center;
                    min-height: 100vh;
                    .box{
                        h2{
                            font-size: 60px;
                            color: #fff;
                            line-height: 1;
                            font-weight: 900;
                            opacity: 1;
                            margin: 0 0 24px;
                        }
                        p{
                            color: $p-light;
                            line-height: 1.8;
                            font-size: 17px;
                            margin: 0 0 24px;
                        }
                        .buttons{
                            :nth-child(1){
                                display: inline-block;
                                background-color: $orange;
                                padding: 6px 12px;
                                border-radius: 5px;
                                color: #fff;
                                font-weight: 900;
                                line-height: 1.8;
                            }
                            :nth-child(2){
                                display: inline-block;
                                background-color: #fff;
                                padding: 6px 12px;
                                border-radius: 5px;
                                color: #000;
                                font-weight: 900;
                                line-height: 1.8;
                            }
                        }
                    }
                }
            }
        }
    }
    .cards {
        position: relative;
        margin-top: -70px;
        .content {
            background-color: $dark;
            padding: 30px;
            position: relative;
            overflow: hidden;
            ::before {
                position: absolute;
                top: 0;
                right: -30px;
                bottom: 0;
                content: "";
                width: 50%;
                background: rgba(255, 255, 255, 0.022);
                transform: matrix(1.3, 0, -0.3, 1, 0, 0);
            }
            .icon {
                span {
                    height: 80px;
                    width: 80px;
                    background-color: $orange;
                    border-radius: 50%;
                    img {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
            .text {
                padding: 0 0 0 24px;
                h3 {
                    color: #fff;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.5;
                    margin: 0 0 16px;
                }
                p {
                    color: $p-light;
                    line-height: 1.8;
                    margin: 0 0 16px;
                }
            }
        }
        .orange {
            background-color: $orange;
            .icon {
                span {
                    background-color: #fff;
                }
            }
        }
    }
}
main{
    .our-blog{
        padding: 120px 0;
        .container{
            .title{
                margin: 0 0 80px;
                text-align: center;
                span{
                    font-size: 12px;
                    margin: 0 0 5px;
                    color: $orange;
                    letter-spacing: 2px;
                    font-weight: 600;
                }
                h2{
                    line-height: 1.2;
                    font-size: 40px;
                    font-weight: 700;
                    margin: 0 0 24px;
                }
            }
            .row{
                gap: 30px;
                .card{
                    .image{
                        background-position: center center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        height: 250px;
                        display: flex;
                        align-items: flex-end;
                        .meta{
                            background-color: $orange;
                            padding: 0 10px;
                            height: 33px;
                            display: flex;
                            align-items: center;
                            margin: 0 0 0 30px;
                            a{
                                font-weight: 500;
                                line-height: 1.8;
                                color: #fff;
                                font-size: 12px;
                                padding: 0 5px;
                                transition: $hover;
                                &:hover{
                                    color: #000;
                                }
                            }
                        }
                    }
                    .box{
                        box-shadow: 0px 15px 46px -16px rgba(0, 0, 0, 0.1);
                        padding: 20px 30px;
                        a{
                            display: inline-block;
                            color: #000;
                            font-size: 20px;
                            margin-bottom: 16px;
                            font-weight: 700;
                            line-height: 1.5;
                            margin: 0 0 16px;
                            transition: $hover;
                            &:hover{
                                color: $orange;
                            }
                        }
                        .btn{
                            margin: 0;
                            padding: 8px 16px;
                            background-color: $dark;
                            color: #fff;
                            font-size: 14px;
                            border: 1px solid $dark;
                            border-radius: 5px;
                            transition: $hover;
                            &:hover{
                                background: #fff;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ( max-width: 1200px ){
    main{
        .hero{
            .overlay{
                .container{
                    max-width: 960px;
                }
            }
        }
        .cards{
            .container{
                max-width: 960px;
            }
        }
        .our-blog{
            .container{
                max-width: 960px;
            }
        }
    }
}
@media ( max-width: 992px ){
    main{
        .hero{
            .overlay{
                .container{
                    max-width: 720px;
                    .main{
                        .box{
                            h2{
                                font-size: 36px;
                            }
                        }
                    }
                }
            }
        }
        .cards{
            margin: 0;
            .container{
                max-width: 720px;
                .row{
                    flex-direction: column;
                    .content{
                        width: 100%;
                    }
                }
            }
        }
        .our-blog{
            .container{
                max-width: 720px;
            }
        }
    }
}
@media ( max-width: 768px){
    main{
        .hero{
            .overlay{
                .container{
                    max-width: 520px;
                    .main{
                        .box{
                            width: 100%;
                            .buttons{
                                display: block;
                                a{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .cards{
            .container{
                max-width: 520px;
                .row{
                    .content{
                        padding: 20px;
                        .icon{
                            span{
                                height: 50px;
                                width: 50px;
                                img{
                                    height: 40px;
                                    width: 40px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .our-blog{
            .container{
                max-width: 540px;
                .row{
                    flex-direction: column;
                    .card{
                        width: 100%;
                    }
                }
            }
        }
    }
}
